<nav class="p-5 bg-white shadow flex items-center justify-between">
    <div>
        <span class="text-2xl cursor-pointer">
            <a routerLink="/" class="text-xl hover:text-cyan-500 duration-500">PHILANI MBEJE</a>
        </span>
    </div>
    <ul class="flex items-center">
        <li class="mx-4"><a routerLink="/" class="text-xl hover:text-cyan-500 duration-500">HOME</a></li>
        <li class="mx-4"><a routerLink="/projects"  class="text-xl hover:text-cyan-500 duration-500">PROJECTS</a></li>
        <!-- <li class="mx-4"><a routerLink="/downloads" class="text-xl hover:text-cyan-500 duration-500">DOWNLOADS</a></li> -->
    </ul>
</nav>